.button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
}

.primary {
  background: var(--green);
}

.search {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 12px;
}
